@charset "UTF-8";
/**
*   Design
* =================================================================== */
/* ***********************************
 *
 *    Ire's CSS Reset & Base
 *
 * *********************************** */
/* Reset margin, padding, border
 * *********************************** */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0; }

/* Typography
 * *********************************** */
html {
  font-size: 62.5%; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Osaka', 'メイリオ', 'verdana', 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';
  font-size: 1.4rem;
  line-height: 1.4;
  color: #333; }

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a,
a:visited {
  color: inherit; }

/* Layout
 * *********************************** */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

* {
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: inherit; }

/* Elements
 * *********************************** */
table {
  border-spacing: 0;
  border-collapse: collapse; }

ol,
ul {
  list-style: none; }

img,
video {
  max-width: 100%; }

img {
  border-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: '';
  content: none; }

/* Attributes & states
 * *********************************** */
[hidden] {
  display: none !important; }

[disabled] {
  cursor: not-allowed; }

:focus:not(:focus-visible) {
  outline: none; }

/* Utility classes
 * *********************************** */
.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  clip: rect(1px, 1px, 1px, 1px); }

/**
*   Layout
*   パーツの配置や、ラッパーとしての幅や高さなどを決定するクラス
*   接頭辞としてl-をつける
**/
.all-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  min-height: 100vh; }

header,
footer {
  flex: 0 0 auto; }

.main-area {
  flex: 1 0 auto; }

.l-margin-auto {
  margin: 0 auto; }

.l-flex-col {
  display: flex;
  flex-direction: column; }

.l-flex-row {
  display: flex;
  flex-direction: row; }

.l-flex-wrap-nowrap {
  display: flex;
  flex-wrap: nowrap; }

.l-flex-wrap-wrap {
  display: flex;
  flex-wrap: wrap; }

.l-flex-align-items-center {
  display: flex;
  align-items: center; }

.l-flex-justify-content-start {
  display: flex;
  justify-content: start; }

.l-flex-justify-content-end {
  display: flex;
  justify-content: end; }

.l-flex-justify-content-center {
  display: flex;
  justify-content: center; }

.l-flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.l-flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }

.l-flex-space-between {
  display: flex;
  justify-content: space-between; }

.l-flex-space-evenly {
  display: flex;
  justify-content: space-evenly; }

.l-flex-space-around {
  display: flex;
  justify-content: space-around; }

.l-flex-align-items-start {
  display: flex;
  align-items: flex-start; }

.l-flex-align-items-end {
  display: flex;
  align-items: flex-end; }

.l-flex-inline-baseline {
  display: inline-flex;
  align-items: baseline; }

.l-flex-inline-center {
  display: inline-flex;
  justify-content: center; }

/**
*   Utility
*   調整用のクラス
*   margin、paddingを付与するのに使用
*   他種類のパーツ間の空き調整や、パーツとして認められないような、自由な振る舞いをする要素に対してはこちらのクラスを使用
*   接頭辞としてu-をつける
**/
.u-margin-right5 {
  margin-right: 5px; }

.u-margin-right10 {
  margin-right: 10px; }

.u-margin-right20 {
  margin-right: 20px; }

.u-margin-left5 {
  margin-left: 5px; }

.u-margin-left10 {
  margin-left: 10px; }

.u-margin-left20 {
  margin-left: 20px; }

.u-margin-right45 {
  margin-right: 45px; }

.u-margin-left45 {
  margin-left: 45px; }

.u-margin-bottom5 {
  margin-bottom: 5px; }

.u-margin-bottom10 {
  margin-bottom: 10px; }

.u-margin-bottom20 {
  margin-bottom: 20px; }

.u-margin-bottom30 {
  margin-bottom: 30px; }

.u-margin-top5 {
  margin-top: 5px; }

.u-margin-top10 {
  margin-top: 10px; }

.u-margin-top20 {
  margin-top: 20px; }

.u-margin-top30 {
  margin-top: 30px; }

.u-padding-top5 {
  padding-top: 5px; }

.u-padding-top10 {
  padding-top: 10px; }

.u-padding-top20 {
  padding-top: 20px; }

.u-padding-top30 {
  padding-top: 30px; }

.u-padding-bottom5 {
  padding-bottom: 5px; }

.u-padding-bottom10 {
  padding-bottom: 10px; }

.u-padding-bottom20 {
  padding-bottom: 20px; }

.u-padding-left5 {
  padding-left: 5px; }

.u-padding-left10 {
  padding-left: 10px; }

.u-padding-left20 {
  padding-left: 20px; }

.u-padding-right5 {
  padding-right: 5px; }

.u-padding-right10 {
  padding-right: 10px; }

.u-padding-right20 {
  padding-right: 20px; }

.u-margin-right30p {
  margin-right: 30%; }

.u-margin-left10p {
  margin-left: 10%; }

.u-padding-right5p {
  padding-right: 5%; }

.u-padding-left5p {
  padding-left: 5%; }

/**
*   Font
*   フォントの種類やサイズを管理・決定するクラス
*   接頭辞としてf-をつける
**/
/* 汎用レスポンシブフォントサイズ調整 指定した画面サイズ(480px~1920px)に応じてレスポンシブで設定したsize(9~12px)で可変する
*   responsive-font-calculator
*   https://websemantics.uk/tools/responsive-font-calculator/
*/
.icon-size > i {
  font-size: 3rem; }

.f-text-align-left {
  text-align: left; }

.f-text-align-center {
  text-align: center; }

.f-fontTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  color: #333;
  letter-spacing: 0.72px;
  opacity: 1; }

.f-fontSubTitle {
  font: W6 14px/15px Hiragino Kaku Gothic Pro;
  color: #b4b4b4;
  text-transform: uppercase;
  letter-spacing: 0;
  opacity: 1; }

.f-fontIndex {
  font: W6 18px/24px Hiragino Kaku Gothic Pro;
  color: #333;
  letter-spacing: 0.72px;
  opacity: 1; }

.f-fontIndex2 {
  font: W6 14px/19px Hiragino Kaku Gothic Pro;
  color: #333;
  letter-spacing: 0;
  opacity: 1; }

.f-fontList {
  font: W3 14px/28px Hiragino Kaku Gothic Pro;
  color: #333;
  letter-spacing: 0;
  opacity: 1; }

.f-paragraph {
  font: W3 14px/24px Hiragino Sans;
  color: #333;
  letter-spacing: 0;
  opacity: 1; }

.f-paragraph-small {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #333;
  letter-spacing: 0;
  opacity: 1; }

.f-font-btn {
  font: W6 14px/15px Hiragino Kaku Gothic Pro;
  font-family: 'Hiragino Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.07;
  color: #333;
  text-align: center;
  letter-spacing: 0.56px;
  opacity: 1; }

.f-font-btn--white {
  font: W6 14px/15px Hiragino Kaku Gothic Pro;
  font-family: 'Hiragino Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  letter-spacing: 0.56px;
  opacity: 1; }

.f-font-btn--green {
  font: W6 14px/15px Hiragino Kaku Gothic Pro;
  font-family: 'Hiragino Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #30bfa7;
  text-align: center;
  letter-spacing: 0.56px;
  opacity: 1; }

.f-fontLink {
  font: W6 14px/14px Hiragino Sans;
  color: #30bfa7;
  letter-spacing: 0;
  opacity: 1; }

.f-fontLocation {
  font-family: 'Hiragino Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
  letter-spacing: 0;
  opacity: 1; }

.f-fontTime {
  font: W3 12px/18px Hiragino Kaku Gothic Pro;
  color: #333;
  letter-spacing: 0;
  opacity: 1; }

.f-fontPrice {
  font-family: 'Abel';
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #333;
  letter-spacing: 0;
  opacity: 1; }

.f-fontPrice--hiLight {
  font-family: 'Abel';
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #f37;
  letter-spacing: 0;
  opacity: 1; }

.f-fontYen {
  font: Regular 24px/29px Abel;
  letter-spacing: 0; }

.f-fontYen--hiLight {
  font: Regular 24px/29px Abel;
  color: #f37;
  letter-spacing: 0; }

.f-fontAddress {
  font: Medium 12px/18px YuGothic;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #b4b4b4;
  letter-spacing: 0;
  opacity: 1; }

.f-fontIcon {
  display: flex;
  font-family: 'Hiragino Sans';
  font-size: 11px;
  font-weight: 300;
  line-height: 1.2;
  color: #999;
  letter-spacing: 0;
  white-space: nowrap;
  opacity: 1; }

.f-fontIcon--white {
  display: flex;
  font-family: 'Hiragino Sans';
  font-size: 11px;
  font-weight: 300;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 0;
  white-space: nowrap;
  opacity: 1; }

.f-fontNewEntry {
  font-family: 'Abel';
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
  opacity: 1; }

.f-fontNewEntry__sub {
  font-family: 'Hiragino Sans';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color: #333;
  text-align: center;
  letter-spacing: 1.6px;
  opacity: 1; }

.f-fontNickName {
  font-family: 'Hiragino Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #333;
  text-align: left;
  letter-spacing: 0;
  opacity: 1; }

.f-fontNickName--green {
  font-family: 'Hiragino Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #30bfa7;
  text-align: left;
  letter-spacing: 0;
  opacity: 1; }

/**
*   Component
*   使い回しのできるパーツを整理しまとめておくクラス
*   接頭辞としてc-をつける
*   また使い回しの効く状態クラスもここ
*   接頭辞として-をつける
**/
.-shadow {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

/**
*   Project
*   プロジェクト固有のパターンであり、いくつかのComponentと、それに該当しない要素によって構成されるものを定義します。
*   再利用できるなど後からComponentクラスに移動することもありえます。また肥大化する場合はページごとにフォルダリング。
*   接頭辞としてp-をつける
**/
.p-new-entry {
  height: 112px;
  background-color: #edf2f1; }

.p-iconArea__icon {
  width: 20px;
  line-height: 1; }

.p-carDetail__titleArea {
  width: 100%;
  height: 60px;
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1; }

.p-titleArea__title {
  margin-left: 10%; }

.p-deliveryPlace__place {
  width: 112px;
  height: 38px; }

.p-delivery {
  width: 100%;
  max-width: 650px;
  height: 128px;
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1; }

.p-delivery__place {
  height: 50px; }

.p-delivery__place--other {
  height: 74px; }

.p-deliveryPlace {
  width: 84px;
  height: 14px;
  font-family: 'Hiragino Sans';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #333;
  text-align: left;
  letter-spacing: 0;
  opacity: 1; }

.p-otherPlace {
  width: 112px;
  height: 38px;
  font-family: 'Hiragino Sans';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #333;
  text-align: left;
  letter-spacing: 0;
  opacity: 1; }

.p-owner-carInfo {
  width: 100%;
  height: auto; }

.p-owner {
  height: 44px; }

.p-owner__image {
  width: 44px;
  height: 44px; }

.p-car-info {
  font-family: 'Hiragino Sans';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  text-align: left;
  letter-spacing: 0;
  opacity: 1; }

.p-share-condition {
  width: 100%;
  max-width: 650px; }

.p-equipment {
  width: 100%;
  max-width: 650px;
  height: auto; }

.p-equipment__spec {
  width: calc(100% / 5);
  padding: 10px; }

.p-equipment__item {
  width: 80%; }

.p-carRequest__list {
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1; }

.p-carRequest__list input {
  margin-bottom: 0 !important; }

.p-requestList__area {
  background: #fff 0% 0% no-repeat padding-box !important; }

/* dataPickerの調整スタイル */
.p-picker__color {
  background: #fff 0% 0% no-repeat padding-box !important; }

.pickers-container {
  height: 92% !important; }

.datepicker-indent {
  text-indent: 5em !important; }

.select-wrapper input.select-dropdown {
  text-indent: 3em;
  background-color: #fff !important; }

.select-wrapper .caret {
  z-index: 1 !important; }

/* dataPickerの調整スタイル END */
.p-schedule__header {
  width: 335px;
  height: 50px; }

.p-driver-btn {
  width: 165px;
  height: 50px;
  background: #30bfa7 0% 0% no-repeat padding-box;
  border-radius: 3px 3px 0 0;
  opacity: 1; }

.p-schedule__card {
  width: 335px;
  height: 260px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1; }

.p-schedule__list {
  width: 310px;
  height: 24px; }

.p-schedule__list--place {
  width: 295px;
  height: 42px; }

.p-schedule__item {
  width: 130px;
  height: 13px; }

.p-schedule__address {
  width: 130px; }

.c-btn {
  width: 300px;
  height: 40px;
  border: 1px solid #30bfa7;
  border-radius: 3px;
  opacity: 1; }

.c-btn--half {
  width: 144px;
  height: 40px;
  border: 1px solid #30bfa7;
  border-radius: 3px;
  opacity: 1; }

.c-btn--icon {
  display: flex;
  width: 160px;
  background: #fff 0% 0% no-repeat padding-box;
  height: 40px;
  border: 1px solid #30bfa7;
  border-radius: 3px;
  opacity: 1; }

.c-floatingNav {
  position: sticky;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70px;
  height: 70px;
  margin-left: 78%;
  opacity: 1; }

.c-floatingNav__Btn {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #30bfa7;
  border-style: none;
  border-radius: 50px; }

.-mainColor {
  background: #30bfa7 0% 0% no-repeat padding-box; }

.-white {
  background: #fff 0% 0% no-repeat padding-box; }

.p-tab-btn--driver {
  width: 165px;
  height: 50px;
  background: #30bfa7 0% 0% no-repeat padding-box;
  border-radius: 3px 3px 0 0;
  opacity: 1; }

.p-tab-btn--owner {
  width: 165px;
  height: 50px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0 0;
  opacity: 1; }

.c-card {
  width: 335px;
  height: 408px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1; }

.c-card__image > img {
  width: 100%;
  max-width: 335px;
  height: 228px;
  object-fit: cover; }

.c-card__carImage {
  width: 100%;
  height: 150px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1; }

.c-card__timeTable {
  width: 100%;
  height: 80px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1; }

.c-titleArea {
  width: 100%;
  height: 60px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1; }

.c-card__12hoursPrice {
  height: 37px; }

.c-card__24hoursPrice {
  height: 37px; }

.c-titleArea__title {
  margin-left: 5%; }

.c-carImage {
  width: 100%;
  height: 328px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1; }

.c-carImage__image {
  width: 375px;
  height: 255px;
  border-radius: 3px 3px 0 0;
  opacity: 1; }

.c-carImage__image > img {
  width: 100%;
  max-width: 768px;
  height: auto;
  object-fit: cover; }

.c-carDetail__title {
  width: 295px; }

.c-menubar {
  position: sticky;
  bottom: -1px;
  display: flex;
  width: 100%;
  max-width: 768px;
  height: 60px;
  color: #333;
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1; }

.c-menubar__list {
  display: flex;
  width: 100%; }

.c-iconArea__icon {
  width: 20px;
  height: 25px;
  line-height: 1; }

.c-iconArea {
  width: 65px;
  height: 50px;
  padding: 0; }

.p-hero-image {
  width: 100%;
  height: 498px;
  background-image: url(../images/aracan-top2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.p-hero-image__button {
  padding-top: 436px; }

.c-header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1; }
  .c-header > a:active {
    opacity: 0.5; }

.c-header__title {
  display: inline-flex;
  align-items: center;
  height: 20px; }

.c-header__icon {
  position: absolute;
  top: 21px;
  left: 6%;
  display: inline-flex;
  align-items: center;
  width: 10px; }

/* =================================================================== */
label > input {
  display: none;
  /* アップロードボタンのスタイルを無効にする */ }

label {
  padding: 10px;
  /* ラベルとテキスト間の余白を指定する */
  color: #aaa;
  /* ラベルテキストの色を指定する */
  background-color: #006dd9;
  /* ラベルの背景色を指定する */
  border: double 4px #aaa;
  /* ラベルのボーダーを指定する */ }

input[type='file'] {
  display: none; }

label {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #ddd;
  border-radius: 10px; }

label::after {
  position: absolute;
  top: calc(50% - 10px);
  right: -140px;
  height: 20px;
  font-size: 14px;
  line-height: 20px; }

label.changed::after {
  content: ''; }

.filename {
  font-size: 12px; }
