@mixin btn {
  height: 40px;
  border: 1px solid $color-main;
  border-radius: 3px;
  opacity: 1;
}

.c-btn {
  width: 300px;

  @include btn;
}

.c-btn--half {
  width: 144px;

  @include btn;
}

.c-btn--icon {
  display: flex;
  width: 160px;
  background: $color-white 0% 0% no-repeat padding-box;

  @include btn;
}

.c-floatingNav {
  position: sticky;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70px;
  height: 70px;
  margin-left: 78%;
  opacity: 1;
}

.c-floatingNav__Btn {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: $color-main;
  border-style: none;
  border-radius: 50px;
}

.-mainColor {
  background: $color-main 0% 0% no-repeat padding-box;
}

.-white {
  background: $color-white 0% 0% no-repeat padding-box;
}

.p-tab-btn--driver {
  width: 165px;
  height: 50px;
  background: #30bfa7 0% 0% no-repeat padding-box;
  border-radius: 3px 3px 0 0;
  opacity: 1;
}

.p-tab-btn--owner {
  width: 165px;
  height: 50px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0 0;
  opacity: 1;
}
