.c-card {
  width: 335px;
  height: 408px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
}

//カードのサイズ制御。将来的にしっかり設計すること。
.c-card__image > img {
  width: 100%;
  max-width: 335px;
  height: 223px;
  object-fit: cover;
}

.c-card__12hoursPrice {
  height: 37px;
}

.c-card__24hoursPrice {
  height: 37px;
}
