/**
*   Font
*   フォントの種類やサイズを管理・決定するクラス
*   接頭辞としてf-をつける
**/

$font-index: W3 14px/28px Hiragino Sans;
$font-main: W3 14px/24px Hiragino Sans;
$font-small: W3 12px/18px Hiragino Sans;
$font-mark: W6 14px/14px Hiragino Sans;
$font-icon: W6 11px/15px Hiragino Sans;
$font-price: Regular 24px/29px Abel;
$font-yen: Regular 24px/29px Abel;
$font-address: Medium 12px/18px YuGothic;

/* 汎用レスポンシブフォントサイズ調整 指定した画面サイズ(480px~1920px)に応じてレスポンシブで設定したsize(9~12px)で可変する
*   responsive-font-calculator
*   https://websemantics.uk/tools/responsive-font-calculator/
*/
$responsive-font-9-12: calc(0.5625rem + ((1vw - 3.75px) * 0.1942));

//マテリアルアイコンの大きさを調整するための仮置き
.icon-size > i {
  font-size: 3rem;
}

//textの表示位置制御用クラス
.f-text-align-left {
  text-align: left;
}

.f-text-align-center {
  text-align: center;
}

.f-fontTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: $color-text;
  letter-spacing: 0.72px;
  opacity: 1;
}

.f-fontSubTitle {
  font: W6 14px/15px Hiragino Kaku Gothic Pro;
  color: #b4b4b4;
  text-transform: uppercase;
  letter-spacing: 0;
  opacity: 1;
}

.f-fontIndex {
  font: W6 18px/24px Hiragino Kaku Gothic Pro;
  color: $color-text;
  letter-spacing: 0.72px;
  opacity: 1;
}

.f-fontIndex2 {
  font: W6 14px/19px Hiragino Kaku Gothic Pro;
  color: $color-text;
  letter-spacing: 0;
  opacity: 1;
}

.f-fontList {
  font: W3 14px/28px Hiragino Kaku Gothic Pro;
  color: $color-text;
  letter-spacing: 0;
  opacity: 1;
}

.f-paragraph {
  font: $font-main;
  color: $color-text;
  letter-spacing: 0;
  opacity: 1;
}

.f-paragraph-small {
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
  color: $color-text;
  letter-spacing: 0;
  opacity: 1;
}

.f-font-btn {
  font: W6 14px/15px Hiragino Kaku Gothic Pro;
  color: $color-text;
  letter-spacing: 0.56px;
  opacity: 1;
}

.f-font-btn2 {
  font: W6 14px/15px Hiragino Kaku Gothic Pro;
  color: $color-white;
  letter-spacing: 0.56px;
  opacity: 1;
}

.f-fontLink {
  font: $font-mark;
  color: $color-main;
  letter-spacing: 0;
  opacity: 1;
}

.f-fontLocation {
  font: $font-mark;
  color: $color-text;
  letter-spacing: 0;
  opacity: 1;
}

.f-fontTime {
  font: W3 12px/18px Hiragino Kaku Gothic Pro;
  color: #333;
  letter-spacing: 0;
  opacity: 1;
}

.f-fontPrice {
  font-family: 'Abel';
  font-size: 24px;
  font-weight: 200;
  line-height: 1.2;
  color: $color-text;
  letter-spacing: 0;
  opacity: 1;
}

.f-fontYen {
  font: $font-yen;
  letter-spacing: 0;
}

.f-fontAddress {
  font: $font-address;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: $color-text2;
  letter-spacing: 0;
  opacity: 1;
}

.f-fontIcon {
  display: flex;
  font-family: 'Hiragino Sans';
  font-size: 11px;
  font-weight: 300;
  line-height: 1.2;
  color: $color-icon;
  letter-spacing: 0;
  opacity: 1;
}
