/**
*   Layout
*   パーツの配置や、ラッパーとしての幅や高さなどを決定するクラス
*   接頭辞としてl-をつける
**/

//サイズ調整用の関数
$max-width: 768px;
$width100: 100%;

.all-wrap {
  display: flex;
  flex-direction: column;
  width: $width100;
  max-width: $max-width;
  min-height: 100vh;
}

header,
footer {
  flex: 0 0 auto;
}

.main-area {
  flex: 1 0 auto;
}

.l-flex-col {
  display: flex;
  flex-direction: column;
}

.l-flex-row {
  display: flex;
  flex-direction: row;
}

.l-flex-wrap-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.l-flex-wrap-wrap {
  display: flex;
  flex-wrap: wrap;
}

.l-flex-align-items-center {
  display: flex;
  align-items: center;
}

.l-flex-justify-content-center {
  display: flex;
  justify-content: center;
}

.l-flex-justify-content-start {
  display: flex;
  justify-content: start;
}

.l-flex-justify-content-end {
  display: flex;
  justify-content: end;
}

.l-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.l-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.l-flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.l-flex-space-around {
  display: flex;
  justify-content: space-around;
}

.l-flex-align-items-start {
  display: flex;
  align-items: flex-start;
}

.l-flex-align-items-end {
  display: flex;
  align-items: flex-end;
}

.l-flex-inline-baseline {
  display: inline-flex;
  align-items: baseline;
}

.l-flex-inline-center {
  display: inline-flex;
  justify-content: center;
}

.l-flex-around {
  display: flex;
  justify-content: space-around;
}

//左右に余白を自動で取る。PCレイアウト用のクラス。
.l-margin-auto {
  margin: 0 auto;
}
