/**
*   Design
* =================================================================== */
@import '_base';
@import '_layout';
@import '_utility';
@import '_color';
@import '_font';
@import '_component';
@import '_project';
@import '_button';
@import '_card';
@import '_menubar';
@import '_hero';
@import '_header';

/* =================================================================== */
label > input {
  display: none; /* アップロードボタンのスタイルを無効にする */
}

label {
  padding: 10px; /* ラベルとテキスト間の余白を指定する */
  color: #aaa; /* ラベルテキストの色を指定する */
  background-color: #006dd9; /* ラベルの背景色を指定する */
  border: double 4px #aaa; /* ラベルのボーダーを指定する */
}

input[type='file'] {
  display: none;
}

label {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #ddd;
  border-radius: 10px;
}

label::after {
  position: absolute;
  top: calc(50% - 10px);
  right: -140px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  //content: '選択されていません';
}

label.changed::after {
  content: '';
}

.filename {
  font-size: 12px;
}
